<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Data Product</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css">

    <style media="screen">
      .mdl-cell.mdl-cell--7-col{
        margin: auto;
      }
      .mdl-menu__container.is-upgraded.is-visible{
        right: 1090px !important;
      }
      a{
        text-decoration: none;
      }
      .full-width {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Inventory Management</span>
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <!-- <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
          </nav> -->
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Menu</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Home</a>
          <a class="mdl-navigation__link" href="/data-product">Data Product</a>
          <a class="mdl-navigation__link" href="/read-category">Category</a>
          <a class="mdl-navigation__link" href="/order-product">Order Product</a>
          <a class="mdl-navigation__link" href="/report">Report</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric" style="text-align: center;">No</th>
                    <th class="mdl-data-table__cell--non-numeric" style="text-align: center;">Product Name</th>
                    <th class="mdl-data-table__cell--non-numeric" style="text-align: center;">Price</th>
                    <th class="mdl-data-table__cell--non-numeric" style="text-align: center;">Quantity</th>
                    <th class="mdl-data-table__cell--non-numeric" style="text-align: center;">Category Name</th>
                    <th class="mdl-data-table__cell--non-numeric" style="text-align: center;">Edit Product</th>
                    <th class="mdl-data-table__cell--non-numeric" style="text-align: center;">Delete Product</th>
                  </tr>
                </thead>
                <tbody>
                  <h3 style="text-align: center;">All Product</h3>
                  <% let no = 0;%>
                  <% data.forEach((product) => { %>
                    <% no++; %>
                    <tr>
                      <td style="text-align: center;"><%= no %></td>
                      <td style="text-align: center;"><%= product.nama_product %></td>
                      <td style="text-align: center;">Rp. <%= product.harga.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.") %></td>
                      <td style="text-align: center;"><div class="material-icons mdl-badge mdl-badge--overlap" data-badge="<%= product.quantity %>"></div></td>
                      <td style="text-align: center;"><%= product.Category.nama_category %></td>
                      <td style="text-align: center;"><a href="/edit-product/<%=product.productId%>" class="mdl-button mdl-button--mini-fab mdl-button--colored"><i class="material-icons">mode_edit</i></a></td>
                      <td style="text-align: center;"><a onclick="return confirm('Are you sure?')" href="/delete-product/<%=product.productId%>" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" style="color: rgb(244,67,54)"><i class="material-icons">delete</i></a></td>
                    </tr>
                  <% }) %>
                  <form action="/search-product" method="post">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                      <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                        <i class="material-icons">search</i>
                      </label>
                      <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" id="sample6" name="search_product">
                        <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                      </div>
                    </div>
                  </form>
                  <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon"> <i class="material-icons">more_vert</i> </button>
                  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                    <a href="/product"><li class="mdl-menu__item">Add Product</li></a>
                    <a href="/"><li class="mdl-menu__item">Back</li></a>
                  </ul>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
