<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Data Product</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <style media="screen">
      /*.mdl-cell.mdl-cell--6-col{
        margin: auto;
      }*/
      .mdl-menu__container.is-upgraded.is-visible{
        right: 876px !important;
      }
      a{
        text-decoration: none;
      }
      .demo-card-event.mdl-card {
        width: 256px;
        height: 100px;
        background: #3E4EB8;
      }
      .demo-card-event > .mdl-card__actions {
        border-color: rgba(255, 255, 255, 0.2);
      }
      .demo-card-event > .mdl-card__title {
        align-items: flex-start;
      }
      .demo-card-event > .mdl-card__title > h4 {
        margin-top: 0;
      }
      .demo-card-event > .mdl-card__actions {
        display: flex;
        box-sizing:border-box;
        align-items: center;
      }
      .demo-card-event > .mdl-card__actions > .material-icons {
        padding-right: 10px;
      }
      .demo-card-event > .mdl-card__title,
      .demo-card-event > .mdl-card__actions,
      .demo-card-event > .mdl-card__actions > .mdl-button {
        color: #fff;
      }
    </style>
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Inventory Management</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <!-- <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
          </nav> -->
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Menu</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Home</a>
          <a class="mdl-navigation__link" href="/data-product">Data Product</a>
          <a class="mdl-navigation__link" href="/read-category">Category</a>
          <a class="mdl-navigation__link" href="/order-product">Order Product</a>
          <a class="mdl-navigation__link" href="/report">Report</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <!-- Your content goes here -->
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
              <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">No</th>
                    <th class="mdl-data-table__cell--non-numeric">Nama Product</th>
                    <th class="mdl-data-table__cell--non-numeric">Harga</th>
                    <th class="mdl-data-table__cell--non-numeric">Quantity</th>
                    <th class="mdl-data-table__cell--non-numeric">Beli</th>
                  </tr>
                </thead>
                <tbody>
                  <h3>Product</h3>
                  <% let no = 0;%>
                  <% data.forEach((product) => { %>
                    <% no++; %>
                    <tr>
                      <td><%= no %></td>
                      <td><%= product.nama_product %></td>
                      <td><%= product.harga %></td>
                      <td><div class="material-icons mdl-badge mdl-badge--overlap" data-badge="<%= product.quantity %>"></div></td>
                      <td>
                        <button onclick="buy(<%= product.productId%>, '<%= product.nama_product %>', <%= product.harga %>)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                          <i class="material-icons">shop</i>
                        </button>
                      </td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
            <div class="mdl-cell mdl-cell--3-col">
              <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Nama Product</th>
                    <th class="mdl-data-table__cell--non-numeric">Harga</th>
                  </tr>
                </thead>
                <tbody id="ordered_list">
                  <h3>Ordered</h3>
                </tbody>
              </table>
            </div>
            <div class="mdl-cell mdl-cell--3-col">
              <h3>Total</h3>
              <div class="demo-card-event mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                  <h4>
                    Rp. <span id="total_belanja"></span>
                  </h4>
                </div>
              </div>
              <!-- Flat button with ripple -->
              <a href = "/checkout" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="margin: 10px;margin-left: 75px;">
                Checkout
              </a>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script type="text/javascript">
        let arrHarga = [];
        let total = [];
        function buy(productId, nama_product, harga, createdAt){
          $.post("http://localhost:3000/order-product", {productId: productId, nama_product: nama_product, harga: harga, createdAt: createdAt})
          arrHarga.push(harga);
          if (productId !=="") {
            let el = document.createElement("tr");
            let td = document.createElement("td");
            let td2 =  document.createElement("td");
            let cont = document.createTextNode(nama_product);
            let cont1 = document.createTextNode(harga);
            td.appendChild(cont)
            td2.appendChild(cont1)
            el.appendChild(td)
            el.appendChild(td2)
            document.querySelector("#ordered_list").appendChild(el)

          }
          var sum = arrHarga.reduce(add, 0);

          function add(a, b) {
              return a + b;
          }
          total.push(sum);
          let cek = document.querySelector("#total_belanja").innerHTML = total.pop();
        }
    </script>
  </body>
</html>
